@import "./src/resources/styles/variables/variables";
@import "./src/resources/styles/mixins/mixins";

.container {
    display: flex;
    flex-direction: column;
    flex: auto;
    gap: 0.5rem;

    .unit {
        display: flex;
        flex-direction: column;

        &[variant~="title"] {
            white-space: nowrap;
        }

        &[variant~="list"] {
            margin: 0;
            padding: 0;
            list-style-type: none;

            .item {
                display: flex;
                flex-direction: row;

                .label {
                    flex: 3;
                }

                .value {
                    flex: auto;
                }
            }
        }
    }
}
