@import "./src/resources/styles/variables/variables";
@import "./src/resources/styles/mixins/mixins";

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0.5rem;

    .unit {
        display: flex;
        flex-direction: column;

        &[variant~="title"] {
            white-space: nowrap;
        }

        &[variant~="list"] {
            display: grid;
            flex-direction: unset;
            grid-template-areas: "word frequency";
            grid-template-columns: 1fr 0.275fr;
            grid-template-rows: repeat(5, 1fr);
            grid-auto-rows: 1fr1;
            border-radius: map-get($borderRadius, small);
            overflow: hidden;

            .content {
                text-align: left;
                padding: 0.5rem 0.75rem;

                &:nth-child(4n + 1),
                &:nth-child(4n + 2) {
                    background-color: safe-hsla(map-get($colorGray, extraLighter), 0.5);
                }
                &:nth-child(4n + 4),
                &:nth-child(4n + 5) {
                    background-color: none;
                }

                &[variant~="word"] {
                    grid-area: word;
                    grid-row: auto;
                }

                &[variant~="frequency"] {
                    grid-area: frequency;
                    grid-row: auto;
                    text-align: right;
                }
            }
        }
    }
}
